html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline
}

body {
    background:#000;
}

#text { 
	
 
    color:#fff;
    opacity:0.8;
    font-size:14px;
    letter-spacing:2px;    
    background:transparent;
    font-family:sans-serif;
    text-decoration:none;
    margin:0 auto;    
}


.g {
    padding: 0;
    overflow: hidden;
    text-align : center;
}
.g > .contener {
    float: left;
    width: 50%;
}
.g img {
    display: block;
}
.g li:nth-child(odd) {
    clear: left;
}
img, object, video {
    max-width: 100%;
    border: 0;
}
a img {
    border: 0;
    outline: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (min-width: 40em) {
    .g > .contener {
        width: 33.3333333333333333%;
    }
    .g li:nth-child(3n+1) {
        clear: left;
    }
    .g li:nth-child(odd) {
        clear: none;
    }
}
@media screen and (min-width: 55em) {
    .g > .contener {
        width: 25%;
    }
    .g > .contener:nth-child(4n+1) {
        clear: left;
    }
    .g > .contener:nth-child(3n+1) {
        clear: none;
    }
}
@media screen and (min-width: 72em) {
    .g > .contener {
        width: 20%;
    }
    .g > .contener:nth-child(5n+1) {
        clear: left;
    }
    .g > .contener:nth-child(4n+1) {
        clear: none;
    }
}
@media screen and (min-width: 90em) {
    .g > .contener{
        width: 16.666666666%;
    }
    .g > .contener:nth-child(6n+1) {
        clear: left;
    }
    .g > .contener:nth-child(5n+1) {
        clear: none;
    }
}
